---
# tasks file for configure_keycloak

- name: "Generate keycloak password"
  become: false
  ansible.builtin.set_fact:
    configure_keycloak_password: "{{ lookup('password', '/dev/null')|to_uuid }}"
  when: "configure_keycloak_generate_oidc_broker_secret|bool"
  no_log: true
  tags:
    - "configure_keycloak"
    - "configure_keycloak_gerate_secret"

- name: "Check that broker secret variable is set"
  become: false
  ansible.builtin.assert:
    that:
      - "configure_keycloak_oidc_broker_secret is defined"
      - "configure_keycloak_oidc_broker_secret|bool"
    fail_msg: >
      Keycloak broker secret is not set but needed
      We can't continue with keycloak server configureation
  when: "not configure_keycloak_generate_oidc_broker_secret|bool"
  tags:
    - "configure_keycloak"
    - "configure_keycloak_password_assert_client"

- name: "Set keycloak password"
  become: false
  ansible.builtin.set_fact:
    configure_keycloak_password: "{{ configure_keycloak_oidc_broker_secret }}"
  when: "not configure_keycloak_generate_oidc_broker_secret|bool"
  no_log: true
  tags:
    - "configure_keycloak"
    - "configure_keycloak_set_password"

- name: "Configure keycloak server"
  ansible.builtin.include_tasks: "{{ configure_keycloak_config_method|lower }}.yml"
  when: "configure_keycloak_config_type == 'dynamic'"
  tags:
    - "configure_keycloak"
    - "configure_keycloak_import_subtasks"
