export OPENID_AUTO_REDIRECT_TO_IDP='true'
export OPENID_CLIENT_ID='owncloud'
export OPENID_CLIENT_SECRET='{{ configure_apps_owncloud_oidc_secret }}'
export OPENID_LOGIN_BUTTON_NAME='Single Sign-On Login'
export OPENID_LOGIN_ENABLED='true'
export OPENID_PROVIDER_URL='https://{{ configure_apps_owncloud_ucs_server_sso_fqdn }}'
export OPENID_SEARCH_CLAIM='email'
export OPENID_SEARCH_MODE='email'
export OWNCLOUD_DEFAULT_LANGUAGE='de'
