{% for line in portal_entry_portal_entries_stdout_lines %}
{% if line|regex_search('DN: cn=[a-zA-Z-]+') %}
{{ line[7:].split(',')[0] }}: {
{% else %}
{% if 'description:' in line -%}
{{ "description: {" if 'description:' not in portal_entry_portal_entries_stdout_lines[loop.index-2]|default("")}}"{{ line.split(": ")[1] }}": "{{- line.split(": ")[2] }}"
{{- "}" if 'description:' not in portal_entry_portal_entries_stdout_lines[loop.index]|default("")}}
{{- "" if portal_entry_portal_entries_stdout_lines[loop.index]|default("")|regex_search('^DN: cn=[a-zA-Z-]+') or portal_entry_portal_entries_stdout_lines[loop.index]|default("")|length == 0 else "," }}
{% elif 'displayName:' in line -%}
{{ "displayName: {" if 'displayName:' not in portal_entry_portal_entries_stdout_lines[loop.index-2]|default("")}}"{{ line.split(": ")[1] }}": "{{- line.split(": ")[2] }}"
{{- "}" if 'displayName:' not in portal_entry_portal_entries_stdout_lines[loop.index]|default("")}}
{{- "" if portal_entry_portal_entries_stdout_lines[loop.index]|default("")|regex_search('^DN: cn=[a-zA-Z-]+') or portal_entry_portal_entries_stdout_lines[loop.index]|default("")|length == 0 else "," }}
{% elif 'allowedGroups:' in line -%}
{{ "allowedGroups: [" if 'allowedGroups:' not in portal_entry_portal_entries_stdout_lines[loop.index-2]|default("")}}"{{ line.split(": ")[1] }}"
{{- "]" if 'allowedGroups:' not in portal_entry_portal_entries_stdout_lines[loop.index]|default("")}}
{{- "" if portal_entry_portal_entries_stdout_lines[loop.index]|default("")|regex_search('^DN: cn=[a-zA-Z-]+') or portal_entry_portal_entries_stdout_lines[loop.index]|default("")|length == 0 else "," }}
{% elif 'link:' in line -%}
{% if ansible_local['ucr']['version/version']|default('99')|float < 5 -%}
{{ "link: [" if 'link:' not in portal_entry_portal_entries_stdout_lines[loop.index-2]|default("")}}'{{ line.split(": ")[1] }}'
{{- "]" if 'link:' not in portal_entry_portal_entries_stdout_lines[loop.index]|default("")}}
{{- "" if portal_entry_portal_entries_stdout_lines[loop.index]|default("")|regex_search('^DN: cn=[a-zA-Z-]+') or portal_entry_portal_entries_stdout_lines[loop.index]|default("")|length == 0 else "," }}
{% else -%}
{{ "link: {" if 'link:' not in portal_entry_portal_entries_stdout_lines[loop.index-2]|default("")}}'{{ line.split(": ")[1] }}": "{{- line.split(": ")[2] }}'
{{- "}" if 'link:' not in portal_entry_portal_entries_stdout_lines[loop.index]|default("")}}
{{- "" if portal_entry_portal_entries_stdout_lines[loop.index]|default("")|regex_search('^DN: cn=[a-zA-Z-]+') or portal_entry_portal_entries_stdout_lines[loop.index]|default("")|length == 0 else "," }}
{% endif %}
{% elif 'icon:' in line -%}
{% elif '  ' not in line -%}
{% elif line|length == 0 -%}
{% elif ': ' not in line -%}
{{ line }}{{ "" if portal_entry_portal_entries_stdout_lines[loop.index]|default("")|regex_search('^DN: cn=[a-zA-Z-]+') or portal_entry_portal_entries_stdout_lines[loop.index]|default("")|length == 0 else "," }}
{% else -%}
{{ line.split(": ")[0] }}: "{{- line.split(": ")[1] }}"{{ "" if portal_entry_portal_entries_stdout_lines[loop.index]|default("")|regex_search('^DN: cn=[a-zA-Z-]+') or portal_entry_portal_entries_stdout_lines[loop.index]|default("")|length == 0 else "," }}
{% endif %}
{% if portal_entry_portal_entries_stdout_lines[loop.index]|default("")|regex_search('^DN: cn=[a-zA-Z-]+') and loop.index > 2 -%}
}
{% endif %}
{% endif %}
{% endfor %}
}
