---
# tasks file for disable_piwik_tracking

- name: "disable_piwik_tracking | Disable Piwik Tracking"
  univention.ucs_modules.univention_config_registry:
    keys:
      umc/web/piwik: "false"
  when: "disable_piwik_tracking_disable|bool"
  tags:
    - "disable_piwik_tracking"
