---
# tasks file for configure_monitoring

- name: "configure_monitoring | Install App Dashboard Client"
  ansible.builtin.include_role:
    name: "install_packages"
  vars:
    install_packages_app_version_map: "{{ configure_monitoring_dashboard_client_version_map }}"
    install_packages_temp_pw_file: "{{ configure_monitoring_dashboard_client_temp_file }}"
    install_packages_force_package_upgrade: "{{ configure_monitoring_dashboard_client_force_package_upgrade }}"
    install_packages_install_apps:
      - "prometheus-node-exporter"
  tags:
    - "configure_monitoring"
    - "configure_monitoring_install_dashboard_client"

- name: "configure_monitoring | Copy Node-Exporter Config"
  become: true
  ansible.builtin.copy:
    src: "90-ucs-dpx.conf"
    dest: "/etc/systemd/system/prometheus-node-exporter.service.d/"
    owner: "root"
    group: "root"
    mode: "0644"
  tags:
    - "configure_monitoring"
    - "configure_monitoring_copy_nodeexporter_config"

- name: "configure_monitoring | Copy UCS Node-Exporter Scripts"
  become: true
  ansible.builtin.copy:
    src: "{{ configure_monitoring_ucs_exporter_scripts }}"
    dest: "/usr/sbin/"
    owner: "root"
    group: "root"
    mode: "0755"
  loop:
    - "univention-metrics-domain"
    - "univention-metrics-dpx"
    - "univention-metrics-prometheus"
  loop_control:
    loop_var: "configure_monitoring_ucs_exporter_scripts"
  tags:
    - "configure_monitoring"
    - "configure_monitoring_copy_nodeexporter_scripts"

- name: "configure_monitoring | Copy Cronjobs for Node-Exporter Scripts"
  become: true
  ansible.builtin.copy:
    src: "{{ configure_monitoring_cron_exporter_scripts }}.cron"
    dest: "/etc/cron.d/{{ configure_monitoring_cron_exporter_scripts }}"
    owner: "root"
    group: "root"
    mode: "0644"
  loop:
    - "cron-metrics-domain"
    - "cron-metrics-dpx"
    - "cron-metrics-prometheus"
  loop_control:
    loop_var: "configure_monitoring_cron_exporter_scripts"
  tags:
    - "configure_monitoring"
    - "configure_monitoring_copy_cronjobs"

- name: "configure_monitoring | Copy Telegraf Config for Node-Exporter"
  become: true
  ansible.builtin.copy:
    src: "ucs.inputs.prometheus.conf"
    dest: "/etc/telegraf/telegraf.d/"
    owner: "root"
    group: "root"
    mode: "0644"
  tags:
    - "configure_monitoring"
    - "configure_monitoring_copy_telegraf_nodeexporter_config"

- name: "configure_monitoring | Configure LDAP monitor"
  univention.ucs_modules.univention_config_registry:
    keys:
      ldap/monitor: "{{ configure_monitoring_ldap_enabled|default('true') }}"
  tags:
    - "configure_monitoring"
    - "configure_monitoring_ldap"
