---
# tasks file for configure_network_proxy

- name: "configure_network_proxy | Configure http network proxy"
  univention.ucs_modules.univention_config_registry:
    keys:
      proxy/http: "{{ configure_network_proxy_http_proxy|default('') }}"
    state: "{{ 'present' if configure_network_proxy_enabled|bool else 'absent' }}"
  when: "configure_network_proxy_http_proxy is defined and configure_network_proxy_http_proxy|length > 0"
  tags:
    - "configure_network_proxy"
    - "configure_network_proxy_http_proxy"

- name: "configure_network_proxy | Configure https network proxy"
  univention.ucs_modules.univention_config_registry:
    keys:
      proxy/https: "{{ configure_network_proxy_https_proxy|default('') }}"
    state: "{{ 'present' if configure_network_proxy_enabled|bool else 'absent' }}"
  when: "configure_network_proxy_https_proxy is defined and configure_network_proxy_https_proxy|length > 0"
  tags:
    - "configure_network_proxy"
    - "configure_network_proxy_https_proxy"

- name: "configure_network_proxy | Configure no_proxy network proxy"
  univention.ucs_modules.univention_config_registry:
    keys:
      proxy/no_proxy: "{{ configure_network_proxy_no_proxy|default('') }}"
    state: "{{ 'present' if configure_network_proxy_enabled|bool else 'absent' }}"
  when: "configure_network_proxy_no_proxy is defined and configure_network_proxy_no_proxy|length > 0"
  tags:
    - "configure_network_proxy"
    - "configure_network_proxy_no_proxy"
