---
# tasks file for get_installed_apps

- name: "get_installed_apps | Get app list"
  ansible.utils.cli_parse:
    command: "univention-app info"
    parser:
      name: "ansible.netcommon.native"
  changed_when: false
  register: "get_installed_apps_installed_apps_list"
  tags:
    - "get_installed_apps_cli_parse"
    - "get_installed_apps"

- name: "get_installed_apps | Convert app list into '<app>: <version>' dictionary"
  ansible.builtin.set_fact:
    get_installed_apps_installed_apps: "{{ lookup('template', 'convert_app_list.j2')|from_yaml|items2dict }}"
  changed_when: false
  tags:
    - "get_installed_apps_convert_list_to_dict"
    - "get_installed_apps"
