---
# tasks file for set_dns_glue_record

- name: "Implement DNS glue record for external host name"
  block:
    - name: "Check if all vars are set"
      ansible.builtin.assert:
        that:
          - set_dns_glue_record_glue_record_nameserver|length > 0
        fail_msg: "At least one necessary variable is not set. Skip this check with --skip-tags set_dns_glue_record_check_preconditions"
      tags:
        - set_dns_glue_record_check_preconditions

    - name: "Check if DNS forwarding already exists"
      ansible.builtin.shell: >
        udm dns/ns_record list
        --position relativeDomainName={{ set_dns_glue_record_host_name }},{{ set_dns_glue_record_superordinate }}
        | sed '/^$/d; s/^DN:/- &/'
      register: set_dns_glue_record_ns_record_list
      tags:
        - set_dns_glue_record_register_ns_records

    - name: "Turn udm list output into yaml"
      ansible.builtin.set_fact:
        set_dns_glue_record_glue_record_entries: "{{ set_dns_glue_record_ns_record_list.stdout|default('')|from_yaml }}"
        set_dns_glue_record_glue_record_counter: 0
        cacheable: false
      when: "'nameserver' in set_dns_glue_record_ns_record_list.stdout"
      tags:
        - set_dns_glue_record_register_transform_to_yaml

    - name: "Find out if glue record already is set"
      ansible.builtin.set_fact:
        set_dns_glue_record_glue_record_counter: "{{ set_dns_glue_record_glue_record_counter|int + 1 }}"#
        cacheable: false
      loop: "{{ glue_record_entries|default([]) }}"
      when: "item['nameserver'] == set_dns_glue_record_glue_record_nameserver and
            item['zone'] == set_dns_glue_record_host_name"
      tags:
        - set_dns_glue_record_check_record_already_exists

    - name: "Create DNS forwarding as glue record"
      ansible.builtin.command: >
        udm dns/ns_record create
        --superordinate {{ set_dns_glue_record_superordinate }}
        --set zone={{ set_dns_glue_record_host_name }}
        --set nameserver={{ set_dns_glue_record_glue_record_nameserver }}
        --ignore_exists
      when: "set_dns_glue_record_glue_record_counter|default(0) == 0"
      tags:
        - set_dns_glue_record_create_dns_record

  when: "set_dns_glue_record_create_external_hostname_glue_record|bool"
  tags:
    - set_dns_glue_record
