---
# tasks file for force_package_list_update

- name: "force_package_list_update | Check if error is in package list"
  ansible.builtin.command:
    cmd: "grep -Eqs '(Traceback|An error occurred during the repository check)' /etc/apt/sources.list.d/*"
  changed_when: false
  failed_when: "force_package_list_update_apt_package_list_check_result.rc != 2"
  register: "force_package_list_update_apt_package_list_check_result"
  tags:
    - "force_package_list_update_check"
    - "force_package_list_update"

- name: "force_package_list_update | Check if packages list already updated"
  block:
    - name: "force_package_list_update | Update debian package lists"
      ansible.builtin.apt:
        update_cache: true
        update_cache_retries: 3
        update_cache_retry_max_delay: 10
      changed_when: false
      tags:
        - "force_package_list_update_do_update_apt_update"

    - name: "force_package_list_update | Update univention-app package lists"
      ansible.builtin.command: "univention-app update"
      changed_when: false
      delay: 10
      register: "force_package_list_univention_app_update_result"
      retries: 3
      until: "force_package_list_univention_app_update_result.rc == 0"
      tags:
        - "force_package_list_update_do_update_app_update"

    - name: "force_package_list_update | Set flag that prevent updates on next run"
      ansible.builtin.set_fact:
        force_package_list_update_already_updated: true
      changed_when: false
      tags:
        - "force_package_list_update_do_update_already_updated_flag"
  when: "force_package_list_update_already_updated|default(false)|bool == false"
  tags:
    - "force_package_list_update_do_update"
    - "force_package_list_update"

- name: "force_package_list_update | Refresh facts"
  ansible.builtin.setup:
  changed_when: false
  tags:
    - "force_package_list_update_refresh_facts"
    - "force_package_list_update"
