---
# tasks file for configure_apps_nextcloud

- name: "Copy NextCloud skeleton files to target directory"
  ansible.builtin.copy:
    dest: "/var/lib/univention-appcenter/apps/nextcloud/data/skeleton"
    src: "files/nextcloud-skeleton/"
    directory_mode: 0755
    mode: "preserve"
  tags:
    - "configure_apps_nextcloud"
    - "configure_apps_nextcloud_install_skeleton_files"

- name: "Configure skeleton directory in NextCloud"
  ansible.builtin.lineinfile:
    path: "/var/lib/univention-appcenter/apps/nextcloud/data/integration/config/config.php"
    line: "  'skeletondirectory' => '/var/lib/univention-appcenter/apps/nextcloud/data/skeleton',"
    insertafter: "'secret' =>"
    state: "present"
  register: "configure_apps_nextcloud_skeleton_result"
  tags:
    - "configure_apps_nextcloud"
    - "configure_apps_nextcloud_configure_skeleton_directory"

- name: "Copy modified NextCloud config over to live app"
  ansible.builtin.command:
    argv:
      - "univention-app"
      - "shell"
      - "nextcloud"
      - "cp"
      - "/var/lib/univention-appcenter/apps/nextcloud/data/integration/config/config.php"
      - "/var/www/html/config/config.php"
  when: "configure_apps_nextcloud_skeleton_result is changed"
  tags:
    - "configure_apps_nextcloud"
    - "configure_apps_nextcloud_copy_nextcloud_config"
