hostname="{{ ucs_join_hostname }}"
domainname="{{ ucs_join_domain_name }}"
windows/domain="{{ ucs_join_domain_name }}"
ldap/base="{{ ucs_join_basedn }}"
root_password="{{ ucs_join_final_root_password }}"
locale/default="de_DE.UTF-8:UTF-8"
locale="en_US.UTF-8:UTF-8 de_DE.UTF-8:UTF-8"
server/role="{{ 'domaincontroller_' + ucs_join_server_type|default('master') }}"
{% if ucs_join_network_config_type|default("dhcp") == "dhcp" %}
interfaces/{{ ucs_join_network_config_interface }}/type="dhcp"
{% elif ucs_join_network_config_type|default("dhcp") == "static" %}
interfaces/{{ ucs_join_network_config_interface }}/type="static"
interfaces/{{ ucs_join_network_config_interface }}/address="{{ ucs_join_network_config_static_ip_config|ipaddr('address') }}"
interfaces/{{ ucs_join_network_config_interface }}/netmask="{{ ucs_join_network_config_static_ip_config|ipaddr('netmask') }}"
interfaces/{{ ucs_join_network_config_interface }}/network="{{ ucs_join_network_config_static_ip_config|ipaddr('network') }}"
interfaces/{{ ucs_join_network_config_interface }}/broadcast="{{ ucs_join_network_config_static_ip_config|ipaddr('broadcast') }}"
{% for additional_interface in ucs_join_network_config_static_additional_interfaces|default([]) %}
interfaces/{{ additional_interface }}/type="static"
interfaces/{{ additional_interface }}/address="{{ ucs_join_network_config_static_additional_interfaces[additional_interface]|ipaddr('address') }}"
interfaces/{{ additional_interface }}/netmask="{{ ucs_join_network_config_static_additional_interfaces[additional_interface]|ipaddr('netmask') }}"
interfaces/{{ additional_interface }}/network="{{ ucs_join_network_config_static_additional_interfaces[additional_interface]|ipaddr('network') }}"
interfaces/{{ additional_interface }}/broadcast="{{ ucs_join_network_config_static_additional_interfaces[additional_interface]|ipaddr('broadcast') }}"
{% endfor %}
interfaces/primary={{ ucs_join_network_config_interface }}
{% if ucs_join_server_type == 'master' %}
{% for dns_server in ucs_join_network_config_static_dns_servers|default([]) %}
dns/forwarder{{ loop.index }}="{{ dns_server }}"
{% endfor %}
{% endif %}
gateway="{{ ucs_join_network_config_static_gateway }}"
{% endif %}
{% if ucs_join_server_type == 'backup' %}
nameserver1="{{ ucs_join_master_server }}"
{% endif %}
{% for routes in ucs_join_network_config_static_routes|default([]) %}
interfaces/{{ routes['interface'] }}/route/{{ routes['index'] }}="{{ routes['route'] }}"
{% endfor %}
