---
# tasks file for univention_remove

- name: "univention_remove | Remove via univention-remove"
  ansible.builtin.command: "univention-remove --yes {{ univention_remove_name }}"
  changed_when: "univention_remove_run.stdout is not search('is not installed')"
  check_mode: false
  delay: 10
  register: "univention_remove_run"
  retries: 3
  until: "univention_remove_run.rc == 0"
  tags:
    - univention_remove
    - univention_remove_run
