---
# tasks file for umc_permissions

- name: "umc_permissions | Hide remaining UMC modules per UCR and empty favorites"
  univention.ucs_modules.univention_config_registry:
    keys:
      umc/module/udm/oxresources/oxresources/disabled: "true"
      umc/module/udm/oxmail/oxmail/disabled: "true"
      umc/web/favorites/default: ""
  tags:
    - "umc_permissions"
    - "umc_permissions_ucr"

- name: "umc_permissions | Manage cn=only-users-and-groups,cn=UMC,cn=policies"
  block:
    - name: "umc_permissions | Modifly policies/umc"
      ansible.builtin.command:
        argv:
          - "udm"
          - "policies/umc"
          - "modify"
          - "--dn"
          - "cn=only-users-and-groups,cn=UMC,cn=policies,{{ umc_permissions_basedn }}"
          - "--set"
          - "name=only-users-and-groups"
          - "--append"
          - "allow=cn=udm-users,cn=operations,cn=UMC,cn=univention,{{ umc_permissions_basedn }}"
          - "--append"
          - "allow=cn=udm-groups,cn=operations,cn=UMC,cn=univention,{{ umc_permissions_basedn }}"
          - "--append"
          - "allow=cn=udm-new-portal,cn=operations,cn=UMC,cn=univention,{{ umc_permissions_basedn }}"
      changed_when: "umc_permissions_modify_only_users_and_groups.stdout is not search('No modification: ')"
      register: "umc_permissions_modify_only_users_and_groups"
      tags:
        - "umc_permissions_policy_add"

    - name: "umc_permissions | Add policy reference"
      ansible.builtin.command:
        argv:
          - "udm"
          - "groups/group"
          - "modify"
          - "--dn"
          - "cn=Domain Admins,cn=groups,{{ umc_permissions_basedn }}"
          - "--policy-dereference"
          - "cn=default-umc-all,cn=UMC,cn=policies,{{ umc_permissions_basedn }}"
          - "--policy-reference"
          - "cn=only-users-and-groups,cn=UMC,cn=policies,{{ umc_permissions_basedn }}"
      changed_when: "umc_permissions_policy_reference_result.stdout is not search('No modification: ')"
      register: "umc_permissions_policy_reference_result"
      tags:
        - "umc_permissions_policy_add_reference"
  tags:
    - "umc_permissions"
    - "umc_permissions_policy"

- name: "umc_permissions | Manage cn=udm-usertemplates,cn=operations,cn=UMC,cn=univention"
  block:
    - name: "umc_permissions | Add settings/umc_operationset"
      ansible.builtin.command:
        argv:
          - "udm"
          - "settings/umc_operationset"
          - "create"
          - "--position=cn=operations,cn=UMC,cn=univention,{{ umc_permissions_basedn }}"
          - "--set"
          - "name=udm-usertemplates"
          - "--set"
          - "description=UDM - Usertemplates"
          - "--set"
          - "flavor=settings/usertemplate"
          - "--set"
          - "operation=udm/*"
          - "--ignore_exists"
      changed_when: "umc_permissions_policy_usertemplate_add_setting_result.stdout is not search('Object exists: ')"
      register: "umc_permissions_policy_usertemplate_add_setting_result"
      tags:
        - "umc_permissions_policy_usertemplate_add_settings"

    - name: "umc_permissions | Add to policies/umc"
      ansible.builtin.command:
        argv:
          - "udm"
          - "policies/umc"
          - "modify"
          - "--dn"
          - "cn=only-users-and-groups,cn=UMC,cn=policies,{{ umc_permissions_basedn }}"
          - "--append"
          - "allow=cn=udm-usertemplates,cn=operations,cn=UMC,cn=univention,{{ umc_permissions_basedn }}"
      changed_when: "umc_permissions_append_udm_usertemplate_result.stdout is not search('No modification: ')"
      register: "umc_permissions_append_udm_usertemplate_result"
      tags:
        - "umc_permissions_policy_usertemplate_add_policy"
  tags:
    - "umc_permissions"
    - "umc_permissions_policy_usertemplate"

- name: "umc_permissions | Manage cn=udm-reports,cn=operations,cn=UMC,cn=univention"
  block:
    - name: "umc_permissions | Add settings/umc_operationset"
      ansible.builtin.command:
        argv:
          - "udm"
          - "settings/umc_operationset"
          - "create"
          - "--position=cn=operations,cn=UMC,cn=univention,{{ umc_permissions_basedn }}"
          - "--set"
          - "name=udm-reports"
          - "--set"
          - "description=UDM - User Reports"
          - "--set"
          - "operation=udm/reports/get"
          - "--ignore_exists"
      changed_when: "umc_permissions_policy_userreports_add_settings_result.stdout is not search('Object exists: ')"
      register: "umc_permissions_policy_userreports_add_settings_result"
      tags:
        - "umc_permissions_policy_userreports_add_settings"

    - name: "umc_permissions | Add to policies/umc"
      ansible.builtin.command:
        argv:
          - "udm"
          - "policies/umc"
          - "modify"
          - "--dn"
          - "cn=only-users-and-groups,cn=UMC,cn=policies,{{ umc_permissions_basedn }}"
          - "--append"
          - "allow=cn=udm-reports,cn=operations,cn=UMC,cn=univention,{{ umc_permissions_basedn }}"
      changed_when: "umc_permissions_append_udm_reports_result.stdout is not search('No modification: ')"
      register: "umc_permissions_append_udm_reports_result"
      tags:
        - "umc_permissions_policy_userreports_add_policy"
  tags:
    - "umc_permissions"
    - "umc_permissions_policy_userreports"

- name: "umc_permissions | Allow groups to be added to user"
  ansible.builtin.command:
    argv:
      - "udm"
      - "settings/umc_operationset"
      - "modify"
      - "--dn"
      - "cn=udm-users,cn=operations,cn=UMC,cn=univention,{{ umc_permissions_basedn }}"
      - "--append"
      - "operation=udm/syntax/choices objectType=groups/group"
  changed_when: "umc_permissions_append_udm_groups_result.stdout is not search('No modification: ')"
  register: "umc_permissions_append_udm_groups_result"
  tags:
    - "umc_permissions"
    - "umc_permissions_allow_groups_add_to_users"

- name: "umc_permissions | Allow users to be added to groups"
  ansible.builtin.command:
    argv:
      - "udm"
      - "settings/umc_operationset"
      - "modify"
      - "--dn"
      - "cn=udm-groups,cn=operations,cn=UMC,cn=univention,{{ umc_permissions_basedn }}"
      - "--append"
      - "operation=udm/syntax/choices objectType=users/user"
  changed_when: "umc_permissions_append_udm_users_result.stdout is not search('No modification: ')"
  register: "umc_permissions_append_udm_users_result"
  tags:
    - "umc_permissions"
    - "umc_permissions_allow_users_add_to_groups"

- name: "umc_permissions | Set passwordreset/blacklist"
  univention.ucs_modules.univention_config_registry:
    keys:
      umc/self-service/passwordreset/blacklist/groups: "{{ umc_permissions_passwordreset_blacklist_groups }}"
  tags:
    - "umc_permissions"
    - "umc_permissions_policy_selfservice_blacklist"


- name: "umc_permissions | Set passwordreset/whitelist"
  univention.ucs_modules.univention_config_registry:
    keys:
      umc/self-service/passwordreset/whitelist/groups: "{{ umc_permissions_passwordreset_whitelist_groups }}"
  tags:
    - "umc_permissions"
    - "umc_permissions_policy_selfservice_whitelist"
