[versions]
{% if deployment_message_custom_fact_global is defined and deployment_message_custom_fact_global|length > 0 %}
{% set deployment_message_temp_collections = deployment_message_custom_fact_global['collections']|default([]) %}
{% set deployment_message_temp_roles = deployment_message_custom_fact_global['roles']|default([]) %}
{% else %}
{% set deployment_message_temp_collections = deployment_message_custom_fact_collections['collections']|default([]) %}
{% set deployment_message_temp_roles = deployment_message_custom_fact_roles['roles']|default([]) %}
{% endif %}

[versions-collections]
{% for requirement in deployment_message_temp_collections %}
{{ requirement['name'] }} = {{ requirement['version'] }}
{% endfor %}

[versions-roles]
{% for requirement in deployment_message_temp_roles %}
{{ requirement['name'] }} = {{ requirement['version'] }}
{% endfor %}
