Starting deployment for {{ inventory_hostname }}.
External hostname: {{ deployment_message_external_hostname }}
domain name: {{ deployment_message_domain_name }}
base dn: {{ deployment_message_basedn }}

This server is going to fulfill the following role: {{ "master/standalone" if deployment_message_server_type == 'master' else deployment_message_server_type }}

SAML is going to be configured in {{ "master/standalone" if deployment_message_saml_config_type != "failover" else deployment_message_saml_config_type }} mode.

This host currently is in the following groups: {{ group_names|join(", ") }}

{% if deployment_message_custom_fact_global is defined and deployment_message_custom_fact_global|length > 0 %}
{% set deployment_message_temp_collections = deployment_message_custom_fact_global['collections']|default([]) %}
{% set deployment_message_temp_roles = deployment_message_custom_fact_global['roles']|default([]) %}
{% else %}
{% set deployment_message_temp_collections = deployment_message_custom_fact_collections['collections']|default([]) %}
{% set deployment_message_temp_roles = deployment_message_custom_fact_roles['roles']|default([]) %}
{% endif %}
This deployment uses the following collections:
{% for requirement in deployment_message_temp_collections %}
{{ requirement['name'] }}: {{ requirement['version'] }}
{% endfor %}

This deployment uses the following roles:
{% for requirement in deployment_message_temp_roles %}
{{ requirement['name'] }}: {{ requirement['version'] }}
{% endfor %}

We're about to pause for {{ deployment_message_verification_pause_duration }} seconds
Please verify that this is correct, please press ctrl-c followed by a to abort if it's not
