---
# tasks file for configure_network_interface_names

- name: "configure_network_interface_names | Set grub parameter"
  univention.ucs_modules.univention_config_registry:
    keys:
      grub/append: "net.ifnames=0 biosdevname=0"
    state: "{{ 'present' if configure_network_interface_names_use_old_names|bool else 'absent' }}"
  failed_when: "configure_network_interface_names_set_ucr_result.rc|default(0) > 0"
  register: "configure_network_interface_names_set_ucr_result"
  tags:
    - "configure_network_interface_names"
    - "configure_network_interface_names_set_ucr"
