---
# tasks file for configure_apps_postfix

- name: "Create domain rewrite map"
  ansible.builtin.lineinfile:
    path: "/etc/postfix/generic"
    line: "/^(.*)@{{ configure_apps_postfix_domain_name }}$/      \\${1}@{{ configure_apps_postfix_external_hostname }}"
    create: true
    state: "present"
  register: "configure_apps_postfix_domain_rewrite_task"
  tags:
    - "configure_apps_postfix"
    - "configure_apps_postfix_domain_rewrite"

- name: "Configure postfix to use the map we're creating"
  ansible.builtin.lineinfile:
    path: "/etc/postfix/main.cf.local"
    line: "smtp_generic_maps = regexp:/etc/postfix/generic"
    create: true
    state: "present"
  tags:
    - "configure_apps_postfix"
    - "configure_apps_postfix_use_map"

- name: "Compile domain rewrite map"
  ansible.builtin.command: "postmap /etc/postfix/generic"
  when: "configure_apps_postfix_domain_rewrite_task.changed|bool"
  tags:
    - "configure_apps_postfix"
    - "configure_apps_postfix_compile_domain_rewrite"

- name: "Set mail destination in Univention Config Registry"
  univention.ucs_modules.univention_config_registry:
    keys:
      mail/postfix/mydestination: "localhost.$mydomain, localhost"
  notify: "Restart postfix"
  tags:
    - "configure_apps_postfix"
    - "configure_apps_postfix_set_mail_destination"
