---
# tasks file for configure_ntp_servers

- name: "configure_ntp_servers | Install NTP"
  ansible.builtin.include_role:
    name: "univention.ucs_roles.univention_install"
  vars:
    univention_install_name: "ntp"
  tags:
    - "configure_ntp_servers"
    - "configure_ntp_servers_install_ntp"

- name: "configure_ntp_servers | Configure NTP servers"
  univention.ucs_modules.univention_config_registry:
    kvlist:
      - key: "timeserver{{ '' if configure_ntp_servers_index == 0 else configure_ntp_servers_index+1 }}"
        value: "{{ configure_ntp_servers_item }}"
  loop: "{{ configure_ntp_servers_timeservers|default([]) }}"
  loop_control:
    index_var: "configure_ntp_servers_index"
    loop_var: "configure_ntp_servers_item"
  register: "configure_ntp_servers_result"
  when: "configure_ntp_servers_timeservers|default(false)"
  tags:
    - "configure_ntp_servers"
    - "configure_ntp_servers_set_ucr"

- name: "configure_ntp_servers | Restart ntpd"
  ansible.builtin.service:
    name: "ntp"
    state: "restarted"
  when: "configure_ntp_servers_result.changed"
  tags:
    - "configure_ntp_servers"
    - "configure_ntp_servers_restart_ntp_deamon"
